
@{
    ViewData["Title"] = "Assign User Role";
}
<br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Assign User Roles</h2>
    </div>
    @*<div class="col-6">
        <a asp-action="Create" class="btn btn-primary">New Role</a>
    </div>*@
</div>
<br />
<div>
    <table class="table table-stropped border text-center">
        <thead>
            <tr class="table-info">
                <th>User Name</th>
                <th>Role Name</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in ViewBag.UserRoles)

            {
                <tr>
                    <td>@item.UserName </td>
                    <td>@item.RoleName </td>
                   

                </tr>
            }

        </tbody>
    </table>
</div>
